.list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.list-title {
    width: 100%;
    text-align: center;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

@media (max-width: 480px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
}